[client-server]
# Uncomment these if you want to use a nonstandard connection to MySQL
#socket=/tmp/mysql.sock
#port=3306

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
tls_version=invalid
language=/usr/local/share/mysql/english
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
general-log = 1
max_allowed_packet=128M
