# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Reports
surefire-report.html

# rendered secrets
config/*.conf
!config/waf.conf
docker-compose.yaml
appengine/deploy/*.conf

!**/src/main/resources/*.conf

.java-version

appengine
.idea
/config/dev-gcloud-creds.json

# Used for passing eclipse build parameters to VSCode
.prefs