version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4
  continuation: circleci/continuation@0.3.1

parameters:
  on_demand:
    type: boolean
    default: false
  project:
    type: enum
    enum: ["dss", "dsm","api-docs", "nothing"]
    default: "nothing"
  action:
    type: enum
    enum: [ "build-test", "build-test-deploy", "build-test-store", "retrieve-deploy", "nothing" ]
    default: "nothing"

workflows:
  build-test-deploy-dev-workflow:
    when:
      and:
        - << pipeline.parameters.on_demand >>
        - equal: ["dss", << pipeline.parameters.project >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-deploy","dss": true,"api-docs": false}'

  build-test-workflow:
    description: |
      The workflow to run tests on PRs. Will compare the branch to develop and trigger workflows for modified projects
    when:
      and:
        - << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/main-config.yml
          mapping: |
            .* action "build-test"
            pepper-apis/pom.xml dss true
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* test_parallelism 15
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* dss true
            pepper-apis/((dsm-.*)|(ddp-.*))/.* dsm true
            pepper-apis/docs/.* api-docs true
            .circleci/.* dss true
            .circleci/.* dsm true

  branch-triggered-workflow:
    description: Will initiate workflows based on updates to branches
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:

      # Triggered on develop branch updates. Build test and deploy whatever has changed
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/main-config.yml
          mapping: |
            pepper-apis/.* action "build-test-deploy"
            pepper-apis/pom.xml dss true
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* dss true
            pepper-apis/((dsm-.*)|(ddp-.*))/.* dsm true
            pepper-apis/docs/.* api-docs true
            pepper-apis/config/.* dss true
            pepper-apis/dsm-server/appengine/StudyManager.tmpl.yaml dsm true
            .circleci/.* dss true
            .circleci/.* dsm true
          filters:
            branches:
              only:
                - develop
                
      # Build DSS backend, Housekeeping and API docs, test and store build artifacts
      # Triggered on updates or creation of release candidate and hotfix branches with prefix specified in filter.
      # Only DSS projects and API docs affected!
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-store","dss": true,"api-docs": true}'
          filters:
            branches:
              only:
                - /^rc_.*/
                - /^hotfix_.*/

      # Deploy DSS backend and housekeeping as well as API docs
      # Triggered on updates to branches that correspond to target environment
      # Note this workflow retrieves and deploy jars created in workflow above for rc_* and hotfix_*!
      # So git commit SHA for test/staging/production branches need to match the git commit SHA used to trigger the
      # the rc_* and hotfix_* workflow above
      # Only DSS is affected. DSM handled separately in workflows below
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"retrieve-deploy","dss": true,"api-docs": true}'
          filters:
            branches:
              only:
                - test
                - staging
                - production

      # Build DSM backend
      # Triggered on updates or creation of release candidate and hotfix branches with prefix specified in filter.
      # Only DSM affected!
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-store","dsm": true}'
          filters:
            branches:
              only:
                - /^dsm_rc_.*/
                - /^dsm_hotfix_.*/


      # Deploy DSM backend from stored builds
      # Triggered on updates to branches that correspond to target environment
      # Note this workflow retrieves and deploy jars created in workflow above for dsm_rc_* and dsm_hotfix_*!
      # So git commit SHA for test/staging/production branches need to match the git commit SHA used to trigger the
      # the dsm_rc_* and dsm_hotfix_* workflow above
      # Only DSM is affected. DSS handled separately in workflows above
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"retrieve-deploy","dsm": true}'
          filters:
            branches:
              only:
                - dsm_test
                - dsm_staging
                - dsm_production





