<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- this filter is here to help prevent sensitive data like PHI from bleeding into stdout -->
        <filter class="org.broadinstitute.ddp.logging.NonSecureFilter" />
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %X{LogBreadCrumb} %X{X-Forwarded-For} C:%X{ClientId} S:%X{UserId} [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <!-- appender that sends error messages into slack.  Hook and channel are set in applcation.conf -->
    <appender name="SLACK" class="org.broadinstitute.ddp.log.SlackAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SLACK" />
    </root>
</configuration>
